<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<localRepository>${user.home}/.m2/repository</localRepository>
	<profiles>
		<!-- Configure the JBoss BRMS/BPMSuite Maven repository 6.4 -->
		<profile>
			<id>jboss-brms-bpmsuite-repository-64</id>
			<repositories>
				<repository>
					<id>jboss-brms-bpmsuite-repository-64</id>
					<url>file:///<maven-repodir>/bpm/64/maven-repository</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>jboss-brms-bpmsuite-plugin-repository-64</id>
					<url>file:///<maven-repodir>/bpm/64/maven-repository</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>redhat-techpreview-all-repository</id>
			<repositories>
				<repository>
					<id>redhat-techpreview-all-repository</id>
					<name>Red Hat Tech Preview repository (all)</name>
					<url>http://maven.repository.redhat.com/techpreview/all/</url>
					<layout>default</layout>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
						<updatePolicy>never</updatePolicy>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>redhat-techpreview-all-repository</id>
					<name>Red Hat Tech Preview repository (all)</name>
					<url>http://maven.repository.redhat.com/techpreview/all/</url>
					<layout>default</layout>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
						<updatePolicy>never</updatePolicy>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>redhat-ga-repository</id>
			<repositories>
				<repository>
					<id>redhat-ga-repository</id>
					<name>Red Hat GA repository</name>
					<url>http://maven.repository.redhat.com/ga/</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
						<updatePolicy>daily</updatePolicy>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>redhat-ga-repository</id>
					<name>Red Hat GA repository</name>
					<url>http://maven.repository.redhat.com/ga/</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
						<updatePolicy>daily</updatePolicy>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>jboss-brms-bpmsuite-repository-64</activeProfile>
		<activeProfile>redhat-techpreview-all-repository</activeProfile>
		<activeProfile>redhat-ga-repository</activeProfile>
	</activeProfiles>
	<servers>
		<server>
			<id>guvnor-m2-repo</id>
			<username>TO_BE_CHANGED</username>
			<password>TO_BE_CHANGED</password>
			<privateKey>prdprivatekey</privateKey>
			<configuration>
				<wagonProvider>httpclient</wagonProvider>
				<httpConfiguration>
					<all>
						<usePreemptive>true</usePreemptive>
					</all>
				</httpConfiguration>
			</configuration>
		</server>
	</servers>
</settings>
